body,
html {
    background: #443C68;
    margin: 0;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    height: 100vh;
}

.wrapper {
    display: flex;
    height: 100%;
}

.wrapper_inner {
    width: 90%;
    margin: 0px auto;
}

main {
    overflow-x: hidden;
    transition-duration: 500ms;
    scroll-behavior: smooth;
}

aside {
    flex: 1 0 15%;
    width: 15vw;
    background-color: #18122B;
    box-shadow: 0 0 10px 0 #000;
}

nav {
    display: flex;
    flex-direction: column;
    text-align: end;
    gap: 1rem;
    vertical-align: middle;
}

nav a {
    color: aliceblue;
    width: 100%;
    height: 4vh;
    vertical-align: middle;
}

nav a:hover {
    color: aliceblue;
    background-color: #0d0a18;
    padding-right: 10px;
    width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #18122B;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 9px rgba(0, 0, 0, 2);
}

.hero {
    background-image: url(/image/tbrender.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.title {
    font-size: 2vw;
}

.title.big {
    font-size: 5vw;
    padding-bottom: 2vw;
    color: aliceblue;
    text-shadow: 6px 3px 2px #18122B;
}

.card-content {
    background-color: #18122B;
}

.textInCard {
    color: aliceblue;
}

.text-title-name {
    text-shadow: 4px 2px 2px #18122B;
    font-size: 2rem;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.slidebar-image {
    padding: 1.5vw;
}

.slidebar-image-mibile {
    width: 50%;
}

.image-100w {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 10%;
    width: 100%;
    padding-right: 1vw;
}

.slidebar-border {
    width: 2vw;
    height: 100%;
    margin-left: auto;
    margin-right: 0;
    background-color: #0d0a18;
}

.nav-menu {
    width: 100%;
    padding-top: 27vw;
    float: none;
    font-size: 1.4vw;
}

.revalHead {
    font-size: 2vw !important;
}


@keyframes slidy {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

div#slider {
    overflow: hidden;
    box-shadow: 0 0 10px 0 #000;
}

div#slider figure img {
    width: 20%;
    float: left;
}

div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
}

.card-zoom {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 #000;
}

.card-zoom-image {
    width: 100%;
    height: 100%;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    background-position: center;
    background-size: cover;
}

.card-zoom:hover .card-zoom-image {
    transform: scale(1.1);
}

.image-profile {
    width: 25vw;
    box-shadow: 0 0 10px 0 #000;
}

.banner {
    text-align: center;
}

.butn:link,
.butn:visited {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vw;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #5e16bd;
    background-image: linear-gradient(90deg, #501aa8, #870de8);
    padding: 1rem 2.5rem;
    height: 4rem;
    width: 40vw;
    margin-right: 13px;
    border-radius: 4px;
    border: none;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.butn::before {
    background: #fff;
    content: "";
    height: 20vw;
    opacity: 0;
    position: absolute;
    /* top: -50px; */
    transform: rotate(35deg);
    width: 20vw;
    transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
}

.butn::after {
    background: #fff;
    content: "";
    height: 20vw;
    opacity: 0;
    position: absolute;
    /* top: -50px; */
    transform: rotate(35deg);
    transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 8rem;
}

.butn__new::before {
    left: -50%;
}

.butn__new::after {
    left: -100%;
}

.butn:hover,
.butn:active {
    transform: translateY(-3px);
    color: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.butn__new:hover::before {
    left: 120%;
    opacity: 0.5s;
}

.butn__new:hover::after {
    left: 200%;
    opacity: 0.6;
}

.butn span {
    z-index: 20;
}

.head__section img {
    display: block;
    margin: 0 auto;
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    border-radius: 50%;
}

.head__section p {
    text-align: center;
    color: #fff;
}

.social__links ul li {
    width: 100%;
    margin: 1.2rem 0;
    padding: 0.4rem 0.8rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0px);
    border-radius: 5px;
    transition: background 0.25s;
    transform-style: preserve-3d;
    perspective: 500px;
    box-shadow: 0 0 0.8rem rgba(255, 255, 255, .12);
}

.js-tilt-glare {
    border-radius: 5px;
}

.social__links ul li a {
    width: 100%;
    display: flex;
    align-items: center;
    color: #ffff;
    font-size: 1rem;
}

.social__links ul li a i {
    text-align: center;
    line-height: 4rem;
    font-size: 1.8rem;
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    transform: scale(1.4) translateZ(50px);
    transition: 0.25s;
    margin-right: 3vw;
}

.social__links ul li a span {
    line-height: 1.4rem;
}

.social__links ul .instagram:hover {
    background: #fd5949;
}

.social__links ul .email:hover {
    background: #f72a06;
}

.social__links ul .facebook:hover {
    background: #0088cc;
}

.social__links ul .github:hover {
    background: #333;
}
.dataaboutme{
    margin: 20px;
}
@media only screen and (max-width: 549px) {
    .container {
        width: 88vw;
    }
    .text-in-aboutme{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 770px) {
    aside {
        display: none;
    }
    .so-text{
        display: none;
    }
    .subtitle{
        font-size: 0.7rem;
    }
    .text-head-aboutme{
        font-size: 2rem !important;
    }
    

}
@media only screen and (max-width: 300px) {
   
    .subtitle{
        font-size: 5vw;
    }

}

@media only screen and (min-width: 770px) {
    .navbar-mobile {
        display: none;
    }

}

.navbar-mobile {
    height: 100px;
    background-color: #18122B; 
}

.navbar-mobile .navbar-brand {
    text-align: center;
    height: 100%;
    display: inline-block;
    width: 100%;
    /* top: 50%; */
    
}
.navbar-mobile .navbar-brand > .navbar-item,
.navbar-mobile .navbar-brand .navbar-link {
  display: inline-block;
}

.navbar-item img{
    max-height: 100px;
    top: 50%;
}

.columns.social {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}