body,
html {
    background: #443C68;
    margin: 0;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    height: 100vh;
}

.hero-body {
    background: #302555;
}

.card-content {
    background: #18122B;
    text-align: center;
}

.title-cardhead {
    font-size: 3vw;
    padding-bottom: 2vw;
    color: aliceblue;
    text-shadow: 6px 3px 2px #0c0916;
}

.title.big {
    font-size: 7vw;
    padding-bottom: 2vw;
    color: aliceblue;
    text-shadow: 6px 3px 2px #18122B;
}

.content {
    color: aliceblue;
    height: 100px;
}

.content h3 {
    color: aliceblue;
    font-size: 100%;
    text-shadow: 6px 3px 2px #0c0916;
}

.content p {
    font-size: 50%;
}

.card {
    box-shadow: 0 0 10px 0 #000;
    transition-duration: 400ms;
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.back:link,
.back:visited {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #5e16bd;
    background-image: linear-gradient(90deg, #501aa8, #870de8);
    padding: 1rem 2.5rem;
    height: 3rem;
    width: 8vw;
    margin-right: 13px;
    border-radius: 4px;
    border: none;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.butn:hover,
.butn:active {
    transform: translateY(-3px);
    color: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}