body,
html {
    background: linear-gradient(179.4deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%);
    margin: 0;
    transition-duration: 500ms;
	font-family: 'IBM Plex Sans Thai', sans-serif;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
.text-gradient {
    background: linear-gradient(to right, #30CFD0, #c43ad6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title.big {
    font-size: 5vw;
    padding-bottom: 2vw;
    color: aliceblue;
    text-shadow: 6px 3px 2px #18122B;
}
.title big{
    text-align: center;
    padding: 40px;
}
.title-projectName {
    text-align: center;
    padding: 40px;
    font-size: 2vw;
}
.butn:link,
.butn:visited {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #5e16bd;
    background-image: linear-gradient(90deg, #501aa8, #870de8);
    padding: 1rem 2.5rem;
    height: 4rem;
    width: 20vw;
	

    margin-right: 13px;
    border-radius: 4px;
    border: none;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.banner{
	text-align: center;
}
.butn:hover,
.butn:active {
    transform: translateY(-3px);
    color: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}
.text-gradient-detailWeb{
    background: linear-gradient(to right, #58afaf, #bd8bc4);
    -webkit-background-clip: text;
    font-size: 1.35vw;
    -webkit-text-fill-color: transparent;
}

.BackButton {
	box-shadow: -6px 5px 46px rgba(0, 0, 0, 0.3);
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:7px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:0.5vw;
	padding:0.5vw 1vw;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.BackButton:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.BackButton:active {
	position:relative;
	top:1px;
}

