body,
html {
    background: #443C68;
    margin: 0;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    height: 100vh;
}

.hero-body {
    background: #302555;
}

.card-content {
    background: #18122B;
    text-align: center;
    /* padding-bottom: 200px; */
}

.title-cardhead {
    font-size: 2.5rem;
    padding-bottom: 2vw;
    color: aliceblue;
    text-shadow: 6px 3px 2px #0c0916;
}
.card {
    background-color: "#302555" !important;
}
.title.big {
    font-size: 7vw;
    padding-bottom: 2vw;
    color: aliceblue;
    text-shadow: 6px 3px 2px #18122B;
}

.article-body {
    color: aliceblue;
}
.article{
    margin-bottom: 100px;
}
.article-body h3 {
    color: aliceblue;
}

.image-one:hover {
    transform: scale(1.1);
    transition-duration: 500ms;
    cursor: pointer;
}

#myImg,
.close {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
}

#myImg:hover {
    opacity: .7
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

#caption,
.modal-content {
    margin: auto;
    display: block;
    width: 60%;
    max-width: 1200px;
}

#caption {
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px
}

#caption,
.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: .6s;
    animation-name: zoom;
    animation-duration: .6s
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@-moz-keyframes zoom {
    from {
        -moz-transform: scale(0)
    }
    to {
        -moz-transform: scale(1)
    }
}

@-o-keyframes zoom {
    from {
        -o-transform: scale(0)
    }
    to {
        -o-transform: scale(1)
    }
}

@-ms-keyframes zoom {
    from {
        -ms-transform: scale(0)
    }
    to {
        -ms-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: 300
}

.close:focus,
.close:hover {
    color: #bbb;
    text-decoration: none;
    cursor: pointer
}

@media only screen and (max-width:700px) {
    .modal-content {
        width: 100%
    }
}


/* ปุ่มกด */

.butn:link,
.butn:visited {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #5e16bd;
    background-image: linear-gradient(90deg, #501aa8, #870de8);
    padding: 1rem 2.5rem;
    height: 4rem;
    width: 12rem;
    margin-right: 13px;
    border-radius: 4px;
    border: none;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.back:link,
.back:visited {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #5e16bd;
    background-image: linear-gradient(90deg, #501aa8, #870de8);
    padding: 1rem 2.5rem;
    height: 3rem;
    width: 8vw;
    margin-right: 13px;
    border-radius: 4px;
    border: none;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.banner {
    text-align: center;
}
.banner-back {
    text-align: center;
}

.butn:hover,
.butn:active {
    transform: translateY(-3px);
    color: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}